
# Flight Price Prediction

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline    
# to show diagram without writing plt.show
import numpy as np
import seaborn as sns

In [2]:
train_df=pd.read_excel("Data_Train.xlsx")
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
test_df=pd.read_excel("Test_set.xlsx")
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
#the use of concat

In [10]:
final_df=pd.concat(train_df,test_df,axis=1)
final_df.head()

/var/folders/6x/zr94_3js1ms3j4vjlltrp86r0000gn/T/ipykernel_43085/615458459.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  final_df=pd.concat(train_df,test_df,axis=1)

TypeError: concat() got multiple values for argument 'axis'

In [6]:
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Feature Engineering

In [7]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10683 entries, 0 to 10682
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Airline          2671 non-null   object
 12  Date_of_Journey  2671 non-null   object
 13  Source           2671 non-null   object
 14  Destination      2671 non-null   object
 15  Route            2671 non-null   object
 16  Dep_Time         2671 non-null   object
 17  Arrival_Time     2671 non-null   object
 18  Duration         2671 non-null   object
 19  Total_Stops      2671 non-null   object
 20  Additional_Info  2671 non-null   object
dtypes: int64(1), object(20)
memory usage: 1.8+ MB

Date_of_Journey we will create date month and year

In [9]:
final_df["Date_of_Journey"].str.split('/')

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
final_df["Date"]=
final_df["Month"]=
final_df["Year"]=